<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="shortcut icon" type="image/png" href="/img/yt.png" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Convertisseur Youtube mp3</title>
</head>

<body>

  <div class="top-container">
    <form action="/convert-mp3" method="POST" id="form">
      <h1><i class="fab fa-youtube"></i> Convertisseur Youtube MP3</h1>
      <h4>Entre l'ID de la vidéo</h4>
      <div>
        <input type="text" name="videoId" placeholder="ID de la vidéo"><button id="submit-btn">Convertir</button>
      </div>
    </form>
  </div>

  <div class="bottom-container">
    <% if (typeof success != "undefined" && success) { %>
      <div class="success">
        <p> <%= song_title %> </p>
        <a href="<%= song_link %>"><button id="download-btn">Télécharger</button></a>
      </div>
    <% } else if (typeof success != "undefined" && !success) { %>
      <div class="errors">
        <p> <%= message %> </p>
      </div>
    <% } %>
  <div class="aide">
    <h3>Veuillez seulement copier coller la partie de l'URL comprise entre = et &. </h3>
    <img src="/img/cap.png">
    <h3>Une fois la vidéo trouvée, vous pourrez la télécharger en format .mp3. </h3>
  </div>

  </div>


</body>

</html>
